<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alloclave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alloclave.Properties.Settings>
            <setting name="Heap1_Allocation1" serializeAs="String">
                <value>106, 177, 208</value>
            </setting>
            <setting name="Heap1_Allocation2" serializeAs="String">
                <value>154, 207, 222</value>
            </setting>
            <setting name="Heap2_Allocation1" serializeAs="String">
                <value>194, 163, 109</value>
            </setting>
            <setting name="Heap2_Allocation2" serializeAs="String">
                <value>239, 207, 139</value>
            </setting>
            <setting name="Heap3_Allocation1" serializeAs="String">
                <value>171, 253, 165</value>
            </setting>
            <setting name="Heap3_Allocation2" serializeAs="String">
                <value>112, 212, 104</value>
            </setting>
            <setting name="Heap4_Allocation1" serializeAs="String">
                <value>221, 196, 218</value>
            </setting>
            <setting name="Heap4_Allocation2" serializeAs="String">
                <value>186, 130, 179</value>
            </setting>
            <setting name="LicenseText" serializeAs="String">
                <value />
            </setting>
        </Alloclave.Properties.Settings>
    </userSettings>
</configuration>