<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alloclave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Alloclave.Properties.Settings>
      <setting name="Heap1_Allocation1" serializeAs="String">
        <value>243, 184, 126</value>
      </setting>
      <setting name="Heap1_Allocation2" serializeAs="String">
        <value>255, 228, 183</value>
      </setting>
      <setting name="Heap2_Allocation1" serializeAs="String">
        <value>106, 177, 208</value>
      </setting>
      <setting name="Heap2_Allocation2" serializeAs="String">
        <value>154, 207, 222</value>
      </setting>
      <setting name="Heap3_Allocation1" serializeAs="String">
        <value>171, 253, 165</value>
      </setting>
      <setting name="Heap3_Allocation2" serializeAs="String">
        <value>112, 212, 104</value>
      </setting>
      <setting name="Heap4_Allocation1" serializeAs="String">
        <value>221, 196, 218</value>
      </setting>
      <setting name="Heap4_Allocation2" serializeAs="String">
        <value>186, 130, 179</value>
      </setting>
      <setting name="LicenseText" serializeAs="String">
        <value />
      </setting>
    </Alloclave.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="DGBnJbs0MrBqIla+P8tgnXxyxcz/Ld66eehiviQbpME=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="PZqLHXfhVKHqu5INagdGbtIQ4ICOk0Pd79puH5ioKy1nX4FEvsWAw+lPmq81sXsp/t+p+ErYn/c0PGKVmFAM0d1TB/jv6t9WX/NzdjeRsBrPM3cjNnq9aI6xZm4WtKI5C6VSjT/xvTdkYX4MdD9gSw==" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WinForms</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Tiny</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>