<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alloclave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alloclave.Properties.Settings>
            <setting name="Heap1_Allocation1" serializeAs="String">
                <value>215, 220, 239</value>
            </setting>
            <setting name="Heap1_Allocation2" serializeAs="String">
                <value>195, 197, 216</value>
            </setting>
            <setting name="Heap2_Allocation1" serializeAs="String">
                <value>220, 237, 216</value>
            </setting>
            <setting name="Heap2_Allocation2" serializeAs="String">
                <value>194, 216, 195</value>
            </setting>
            <setting name="Heap3_Allocation1" serializeAs="String">
                <value>237, 215, 223</value>
            </setting>
            <setting name="Heap3_Allocation2" serializeAs="String">
                <value>225, 183, 195</value>
            </setting>
            <setting name="Heap4_Allocation1" serializeAs="String">
                <value>242, 220, 195</value>
            </setting>
            <setting name="Heap4_Allocation2" serializeAs="String">
                <value>237, 198, 140</value>
            </setting>
            <setting name="LicenseText" serializeAs="String">
                <value />
            </setting>
        </Alloclave.Properties.Settings>
    </userSettings>
</configuration>